body
{
    margin: 0px;
    font-size: 13px;
	font-family: Verdana, Tahoma, sans-serif;
}

.content { padding: 1rem 1rem; }
.content > header { margin-bottom: 5px; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; border: 1px solid #377ba8; }
.message { background: #cae6f6; }
.error { background: #fa8989; }
.success { background: #9ffda2; }

.text-center {text-align: center; }
.text-left {text-align: left; }
label { min-width: 200px; text-align: right; }

.button
{
    display: inline-block;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.button:hover
{
    color: #fff;
    background-color: #08449e;
    border-color: #08449e;
}

form { padding: 4px; }
form > div { padding: 2px; }

.menu
{
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: flex-start;
 }
.menu li { list-style: none; }
.menu_item, .menu_item_actif
{
    display: block;
    min-width: 120px;
    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
}
.menu_item
{
    background-color: #1ABC9C;    /* Couleur d'arrière-plan */
    color: #fff;                  /* Couleur du texte */
    border-color: #fff;
    transition: all 1s;
}
.menu_item_actif
{    
    background-color: #000 ; 
    color: #1ABC9C ;
    border-color: #1ABC9C ;
}
.menu_item:hover
{
    background-color: #ed2794;
    color: #ffe843;
    border-color: #ffe843;
}

.bordered_table
{
    border: 1px solid black;
    border-collapse: collapse;
}

.chatbox
{
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.userbox
{
    text-align: right;
    background-color: #cae6f6;
    padding: 10px;
    margin: 10px 0px 10px 80px;
    border: 1px solid #9fd9fa;
    border-radius: 5px;
}
.assistantbox
{
    text-align: left;
    background-color:rgb(200, 252, 234);
    padding: 10px;
    margin: 10px 0px 10px 30px;
    border: 1px solid aquamarine;
    border-radius: 5px;
}