{% extends 'layout.html' %}

{% block content %}
<div class="text-center">
    <div id="chat" class="container chatbox"><div class="row"><div>Hi! Here is your chatbot with model GPT 4</div></div></div>
    <form id="message-form">
        <input type="hidden" id="model_version" value="4" />
        <div class="container"><div class="row">
            <div class="col-11"><textarea id="message" rows="5" style="width: 100%; resize: none;" placeholder="Posez votre question..."></textarea></div>
            <div class="col-1" style="margin: auto;"><button>Send</button></div>
        </div></div>
    </form> 
</div>
<script>select_menu("gpt4");</script>
<script src="{{url_for('static', filename='chat_with_gpt.js')}}"></script>
{% endblock %}
